<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Links-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./style.css">


    <title>Boolzapp</title>
</head>
<body class="d-flex">

    <div id="app" class="d-flex">
        <!--SIDEBAR CON CONTATTI-->
        <div class="sidebar d-flex">

            <div class="side-header d-flex">
                <div class="user-spot d-flex align-cntr">
                    <img src="./img/avatar_io.jpg" alt="me" class="u-photo">
                    <h5 class="ml-10">Sofia</h5>
                </div>

                <div class="side-menu d-flex align-cntr">
                    <i class="fa-solid fa-circle-notch menu-icons"></i>
                    <i class="fa-solid fa-message menu-icons"></i>
                    <i class="fa-solid fa-ellipsis-vertical menu-icons"></i>
                </div>
            </div>

            <div class="notibar d-flex align-cntr">
                <div class="icon-container d-flex align-cntr">
                    <div class="circle-white u-photo">
                        <i class="fa-solid fa-bell-slash"></i>
                    </div>
                </div>
                <div class="noti-texts">
                    <p>Ricevi notifche di nuovi messaggi</p>
                    <p class="special-text underline">Attiva notifiche desktop</p>
                </div>
            </div>

            <div class="contact-section">
                <div class="search-bar">
                    <input type="text" placeholder="Cerca o inizia una nuova chat">
                    <i class="fa-solid fa-magnifying-glass menu-icons size-10"></i>
                </div>

                <div class="contact-list">

                    <div class="contact-container d-flex" v-for="(user, index) in contacts" @click="current_user = index" :class="current_user === index ? 'focus' : ''">
                        <div class="d-flex flex-grow">
                            <img :src="user.avatar" :alt="user.name" class="u-photo">
                            <div>
                                <h5 class="ml-10">{{user.name}}</h5>
                                <p class="special-text ml-10 size-10">{{ shorteningMessage(user) }}</p>
                            </div>
                        </div>
                        <div class="flex-basis">
                            <p class="special-text size-10">{{ getLastMessageTime(user)}}</p>
                        </div>
                    </div>


                </div>
            </div>

        </div>
        <!--SEZIONE CONTENENTE LA CHAT-->
        <div class="mainsection d-flex">
            <div class="main-header d-flex">
                <div class="user-spot d-flex align-cntr">
                    <img :src="contacts[current_user].avatar" alt="me" class="u-photo">
                    <div>
                        <h5 class="ml-10">{{contacts[current_user].name}}</h5>
                        <p class="special-text ml-10 size-10">ultimo accesso oggi alle 12:00</p>
                    </div>
                </div>

                <div class="side-menu d-flex align-cntr">
                    <i class="fa-solid fa-magnifying-glass menu-icons"></i>
                    <i class="fa-solid fa-paperclip menu-icons"></i>
                    <i class="fa-solid fa-ellipsis-vertical menu-icons"></i>
                </div>
            </div>

            <div class="chat-section d-flex">

                <div class="bubble" v-for="message in getMessages()" :class="message.status == 'received' ? 'contact-message' : 'user-message'">
                    <p>{{ message.message }}</p>
                    <p class="time-sent special-text">{{ message.date.split(' ')[1].substring(0, 5) }}</p>
                </div>


            </div>

            <div class="text-area d-flex">
                <div class="emoji-button d-flex j-center align-cntr">
                    <i class="fa-regular fa-face-smile chat-icon"></i>
                </div>

                <div class="text-field">
                    <input type="text" @keyup.enter="addMessage" v-model="newMessage" placeholder="Scrivi un messaggio">
                </div>

                <div class="send-button d-flex j-center align-cntr">
                    <i class="fa-solid fa-microphone chat-icon"></i>
                </div>
            </div>
        </div>
    </div>


    <!--Scripts-->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./script,js"></script>
</body>
</html>